.heroSection {
    width: 100vw;
    max-width: 100%;
    width: 100%;
    background: var(--dk-brown);
    overflow: hidden;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    font-family: var(--text-font);
    font-size: 1rem;
    text-align: center;
}

/* Tablet and up */
@media (min-width: 768px) {
    .heroText {
        font-size: 1.25rem;
        left: 30%;
    }

    .heroImage {
        max-height: 100vh;
    }
}



/* === CONSULTATION SECTION === */
.consultationSection {
    background-color: #f9f5f2;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.consultationContainer {
    max-width: 1400px;
    color: #603c2b;
    font-family: var(--text-font);
    position: relative;
}

.consultationContent h1,
.consultationContent h2 {
    padding-bottom: 10px;
}

.consultationContent h3,
.consultationContent h4 {
    font-family: var(--title-font);
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.consultationContent p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #6f4e37;
}

.bulletList li {
    margin-bottom: 20px;
}


.ctaSpan {
    font-weight: 900;
    font-family: sans-serif;
}

.ctaSpan:hover {
    color: var(--main-color);
}

/* === CONSULTATION IMAGE BREAK === */
.consultationImageSection {
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.consultationImage {
    width: 100%;
    max-width: 1400px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

/* Tablet and up */
@media (min-width: 768px) {
    .consultationImageSection {
        margin: 80px 0;
    }

    .consultationImage {
        border-radius: 16px;
    }
}